.itemProductDetail img {
  width: 250px;
  height: 250px;
  text-align: center;
}

.itemProductDetail {
  width: 30%;
  height: auto;
  margin: auto;
  display: block;
  text-align: center;
  background-color: lightgray;
  border: 5px solid #dfdfc3;
}

.itemProduct ul {
  text-align: center;
  background-color: lightgray;
}
.itemProduct li {
  margin-top: 2px;
}

.itemProduct p {
  font-size: 25px;
}
