li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: grey;
}

li {
  float: left;
}

li span {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  font-size: 25px;
  text-decoration: none;
}

li span:hover {
  background-color: black;
}

.rightli {
  float: right;
  margin-right: 50px;
  width: 120px;
}

.rightli span:hover {
  background-color: grey;
}

.active {
  background-color: green;
}

.active a:hover {
  background-color: green;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

li h1 {
  font-size: 25px;
  color: white;
  float: left;
  padding-left: 500px;
}

li h3 {
  color: white;
  width: 150px;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 850px;
  position: absolute;
}
