.itemName div {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

.itemName button {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  font-size: 15px;
  width: 50px;
  height: 50px;
}

.itemName span {
  margin: 5px;
  padding: 15px;
}

.itemName p {
  width: 100%;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: green;
  float: left;
}

input {
  text-align: right;
  width: 50px;
  height: 25px;
  font-size: 25px;
}

.btnComprar {
  width: 100%;
  margin: auto;
}
.btnComprar button {
  width: auto;
  margin-top: 7px;
  padding: auto;
}
